<div style="margin: 5em;"><button (click)="login()" *ngIf="!token">Login</button> <button (click)="logout()" *ngIf="token">Logout</button></div>

 <!-- <router-outlet></router-outlet> -->
<router-outlet *ngIf="token"></router-outlet>
<!-- @if (token) {
  <router-outlet></router-outlet>
} -->

<!-- @if (!token) {
  <div style="margin: 5em;">
    <h2>Please log in to continue</h2>
    <button (click)="login()">Login</button>
  </div>
} @else {
  <div style="margin: 5em;">
    <h2>Welcome to SSO App</h2>
    <p>{{ token }}</p>
    <button (click)="logout()">Logout</button>
  </div>
  <router-outlet></router-outlet>
} -->



